@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "colors";

body {
  background-color: $background;
  color: $light;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Open-Light, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

#wrapper {
  @include outer-container;
  max-width: 600px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0.75em 0.5em;
}

h1 {
  color: $light_blue;
  font-size: 24px;
  margin: 0 0 1rem;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.year-select {
  font-size: 18px;
  font-family: inherit;
  @include span-columns(4);
  @include omega();
}

#end-year {
  @include omega;
}

#swap {
  @include box-sizing(border-box);
  @include span-columns(2);
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  min-height: 1em;
  text-align: center;
  padding: 1rem 0.5rem 0.5rem;

  i {
    text-align: center;
  }

  &.reversed {
    @include transform(rotate(180deg));
  }
}

.explanation {
  @include span-columns(12);
  @include omega();
}

.left {
  @include span-columns(8);
  line-height: 1.25rem;
  border: 1px solid transparent;

  input,
  #output-value {
    @include span-columns(6 of 8);
    text-align: right;
    font-size: 1.25rem;
  }

  .preposition {
    @include span-columns(2 of 8);
  }

  input, #output-value, .preposition {
    padding: 0.25rem;
    line-height: 1.25rem;
    @include box-sizing(border-box);
    vertical-align: middle;
  }
}

.breakdown {
  @include span-columns(8);
  @include shift(2);
}

input {
  -webkit-appearance: none;
  border-radius: 0.25em;
  background: none;
  border: $green 1px solid;
  color: $light;
}

@import "select-theme-default";

svg {
  .axis {

    path,
    line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    text {
      font-size: 0.8em;
      font-family: inherit;
    }
  }
}