@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "glyphicons";

$background:#363740;
$gray: #585A69;
$blue: #8CC3F2;
$green: #68C480;
$light: #D9C2AD;
$background: #585A69;
$gray: #363740;

body {
  background-color: $background;
  color: $light;
  font-family: 'Avenir-Light';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

#wrapper {
  @include outer-container;
  max-width: 700px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0.75em 0.5em;
}

h1 {
  color: $blue;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

#keypad {
  margin-top: 2.35765%;
  border-top: $gray 1px solid;
  padding-top: 2.35765%;
  @include span-columns(12);
}

#keypad button {
  @include box-sizing(border-box);
  @include span-columns(4);
  @include omega(3n);
  @include appearance(none);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  // box-shadow: inset 0 0 2px $background;
  background: transparentize($gray,.4);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: $gray;
  color: inherit;
  height: 58px;
  overflow: hidden;
  font-family: inherit;
  font-size: 1.6em;
  font-weight: 300;
  display: block;
  text-align: center;
  transition: all 40ms ease-in-out;
  margin-bottom: 2.35765%;
  vertical-align: baseline;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0 0 8px rgba(0,20,0,.5);
    outline: none;
    border-color:  $green;
    // TODO: how to have the font size increase w/o vertical shift;
    // font-size: 1.9em;
  }
}

#year-selects {
  @include row;
}

.year-select {
  @include span-columns(5);
  border-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#end-year {
  @include omega;
}

#swap {
  @include box-sizing(border-box);
  @include span-columns(2);
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  min-height: 1em;
  text-align: center;
  padding: 1rem 0.5rem 0.5rem;

  i {
    text-align: center;
  }

  &.reversed {
    @include transform(rotate(180deg));
  }
}

#values {
  overflow: hidden;
  margin: 1em 0 0;
  text-align: right;

  div {
    padding: 0.1em 0.3em;
  }
}

#output-val {
  // border: 1px solid transparentize($gray,.4);
  border-bottom: none;
  font-size: 180%;
}

#input-val {
  display: block;
  min-height: 1em;
  font-size: 150%;
  @include appearance(none);
  background: transparentize($gray,.4);
  border: none;
  border-radius: 4px;
  appearance: none;
  width: 100%;
  margin: 0;
}
